@import url(https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap);

body {
    margin: 0px;
    background: #d6d5da86;
    font-family: "Sora", sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

.page {
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff00;
    max-width: 400px;
    margin: 0 auto -70px;
    padding: 45px;
    align-items: center;
}

.hr {
    position: relative;
    width: auto;
    height: 90px;
    left: 0px;
    top: -8px;
    background: #292C33;
}

.h4 {
    position: relative;
    margin: 20px;
    width: 240px;
    height: 60px;
    top: -10px;
    left: 90px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #000000;
    line-height: 20px;
}

.form input {
    display: inline-flex;
    font-family: "Sora", sans-serif;
    outline: 0;
    background: #ffffff;
    width: 470px;
    border: none;
    border-radius: 25px;
    margin: 0 0 15px;
    padding: 18px;
    box-sizing: border-box;
    font-size: 16px;
}

#btn-lupa {
    background: #fffdfd;
    margin: -70px 415px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 22px;
    display: inline;
}

h3 {
    font-size: 20px;
    margin: 30px 8px;
}

#btn-novoProduto {
    display: block;
    box-sizing: border-box;
    position: relative;
    background-color: #e2e2e586;
    width: 142px;
    height: 40px;
    border-color: #000000;
    border-radius: 4px;
    top: -62px;
    left: 318px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(34, 34, 34, 0.85);
}

#btn-lupa:hover{
    cursor: pointer;
}

#btn-novoProduto:hover{
    cursor: pointer;
    translate: 0.8s;
    background-color: #8f8f8f;
}

.espaco-branco-um {
    background-color: #ffffff;
    border-radius: 4px;
    height: 100px;
    width: 458px;
    margin: -19px 4px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
}

#nome-produto {
    position: relative;
    font-size: 16px;
    text-align: left;
    left: 4px;
    top: -25px;
}

#iphone-doze {
    position: relative;
    font-size: 14px;
    text-align: left;
    left: 18px;
    top: -21px;
}

#preco-iphone-doze {
    color: #BCBCBC;
    position: relative;
    font-size: 14px;
    text-align: left;
    left: 10px;
    top: -42px;
}

#parcelas-iphone-doze {
    position: relative;
    font-size: 16px;
    text-align: left;
    left: 18px;
    top: -62px;
}

.espaco-branco-dois {
    background-color: #ffffff;
    border-radius: 4px;
    height: 100px;
    width: 458px;
    margin: 20px 4px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
}

#iphone-catorze {
    position: relative;
    font-size: 14px;
    text-align: left;
    left: 19px;
    top: 15px;
}

#preco-iphone-catorze {
    color: #BCBCBC;
    position: relative;
    font-size: 14px;
    text-align: left;
    left: 10px;
    top: -7px;
}

#parcelas-iphone-catorze {
    position: relative;
    font-size: 16px;
    text-align: left;
    left: 18px;
    top: -28px;
}

