@import url(https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap);

body {
    margin: 0px;
    background: #d6d5da86;
    font-family: "Sora", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    overflow-y: inherit;
}

.h1 {
    position: relative;
    margin: 20px;
    width: 146px;
    height: 60px;
    top: 0px;
    left: 110px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
    line-height: 20px;
}

.h3 {
    position: relative;
    margin: 20px;
    width: 500px;
    height: 60px;
    top: 0px;
    left: 33px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #000000;
    line-height: 20px;
}

.hr {
    position: relative;
    width: auto;
    height: 90px;
    left: 0px;
    top: -8px;
    background: #292C33;
}

.page {
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff00;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    align-items: center;
}

.form input {
    font-family: "Sora", sans-serif;
    outline: 0;
    background: #ffffff;
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 4px;
    margin: 0 0 15px;
    padding: 25px;
    box-sizing: border-box;
    font-size: 16px;
}

p {
    position: absolute;
    font-size: 14px;
    left: 52px;
    top: 360px;
}

a {
    text-decoration: none;
}

button {
    position: absolute;
    top: 420px;
    left: 50px;
    font-family: "Sora", sans-serif;
    outline: none;
    background: #000000;
    width: 400px;
    border: none;
    border-radius: 6px;
    height: 50px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 3px;
}

#btn-redefinir-senha:hover {
    background: #767676;
    transition: 0.8s;
    cursor: pointer;
}
