@import url(https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap);

body {
    margin: 0px;
    background: #d6d5da86;
    font-family: "Sora", sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

.page {
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff00;
    max-width: 400px;
    margin: 0 auto -70px;
    padding: 45px;
    align-items: center;
}

.hr {
    position: relative;
    width: auto;
    height: 90px;
    left: 0px;
    top: -8px;
    background: #292C33;
}

.image{
    position: absolute;
    width: 280px;
    top: -7px;
    left: 556px;
}

.h4 {
    position: relative;
    margin: 20px;
    width: 240px;
    height: 60px;
    top: -10px;
    left: 90px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #000000;
    line-height: 20px;
}

.form input {
    display: inline-flex;
    font-family: "Sora", sans-serif;
    outline: 0;
    background: #ffffff;
    width: 470px;
    border: none;
    border-radius: 25px;
    margin: 0 0 15px;
    padding: 18px;
    box-sizing: border-box;
    font-size: 16px;
}

#btn-lupa {
    background: #fffdfd;
    margin: -70px 415px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 19px;
    display: inline;
}

#btn-mais {
    display: block;
    outline: none;
    background: #e8e7eb86;
    color: black;
    width: 55px;
    border: none;
    border-radius: 45px;
    padding: 8px;
    font-size: 17px;
}

h3 {
    font-size: 16px;
    margin: -31px 58px;
}
.list{
    position: absolute;
    top: 300px;
}

#btn-lista{
    display: block;
    outline: none;
    background: #e8e7eb86;
    color: black;
    width: 55px;
    border: none;
    border-radius: 45px;
    padding: 8px;
    font-size: 17px;
}

#listar-produtos{
    font-size: 16px;
    margin: -31px 58px;
}

#btn-lupa:hover,
#btn-mais:hover,
#btn-sair,
#btn-lista {
    cursor: pointer;
}

#btn-sair {
    position: absolute;
    margin: -70px 1200px -10px;
    border: none;
    outline: none;
    background: #292C33;
}

.fa-power-off {
    color: #ffffff;
}

.fa-power-off:hover{
    color: rgb(216, 101, 101);
    transition: 0.8s;
}

#btn-mais:hover{
    transition: 0.8s;
    color: rgb(11, 129, 158);
}

#btn-lista:hover{
    transition: 0.8s;
    color: #637399;
}

.tabela{
    position: absolute;
    top: 460px;
    left: 50px;
}

.titulo{
    position: absolute;
    width: 340px;
    top: -17px;
    left: -57px;
}

table, th, td{
    width: 470px;
    border: 1px solid rgb(221, 208, 208);
    border-radius: 4px;
    border-collapse: collapse;
}

th{
    background-color:rgba(202, 219, 225, 0.927);
}
.qtde{
    text-align: center;
}
