@import url(https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap);

.h1 {
  position: relative;
  margin: 20px;
  width: 146px;
  height: 60px;
  top: 0px;
  left: 110px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
  line-height: 20px;
}

.h2 {
  position: relative;
  margin: 20px;
  width: 300px;
  height: 60px;
  top: 0px;
  left: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
  line-height: 20px;
}

.h3 {
  position: relative;
  margin: 20px;
  width: 500px;
  height: 60px;
  top: 0px;
  left: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
  line-height: 20px;
}

.h4 {
  position: relative;
  margin: 20px;
  width: 240px;
  height: 60px;
  top: 0px;
  left: -18px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 50px;
  color: #000000;
  line-height: 20px;
}

.h5 {
  position: relative;
  margin: 20px;
  width: 500px;
  height: 60px;
  top: 0px;
  left: 14px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
  line-height: 20px;
}

.hr {
  position: relative;
  width: auto;
  height: 90px;
  left: 0px;
  top: -8px;
  background: #292C33;
}

.page {
  width: 500px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff00;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  align-items: center;
}

.form input {
  font-family: "Sora", sans-serif;
  outline: 0;
  background: #ffffff;
  width: 400px;
  height: 62px;
  border: 0;
  border-radius: 4px;
  margin: 0 0 15px;
  padding: 25px;
  box-sizing: border-box;
  font-size: 16px;
}

#btn-cadastrar {
  top: 100px;
  font-family: "Sora", sans-serif;
  outline: 0;
  background: #000000;
  width: 400px;
  border: 0;
  border-radius: 6px;
  height: 65px;
  padding: 27px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 15px;
}

#btn-voltar{
    width: 80px;
    font-size: 18px;
    color: #000000;
    background-color: #ececec;
    border: none;

}
#btn-voltar{
    cursor:pointer;
    transition: 0.6s;

}

#btn-cadastrar:hover{
  background: #767676;
  transition: 0.8s;
  cursor: pointer;
}

.select {
  font-family: 'Sora';
  font-size: 16px;
  border: none;
  outline: none;
  width: 350px;
}

.label {
  padding: 25px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Sora';
  background: white;
  line-height: 70px;
}

body {
  margin: 0px;
  background: #d6d5da86;
  font-family: "Sora", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
