@import url(https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap);

body {
    margin: 0px;
    background: #d6d5da86;
    font-family: "Sora", sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

.page {
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff00;
    max-width: 400px;
    margin: 0 auto -70px;
    padding: 45px;
    align-items: center;
}

.hr {
    position: relative;
    width: auto;
    height: 90px;
    left: 0px;
    top: -8px;
    background: #292C33;
}

.h4 {
    position: relative;
    margin: 20px;
    width: 240px;
    height: 60px;
    top: -10px;
    left: 90px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #000000;
    line-height: 20px;
}

.form input {
    display: inline-flex;
    font-family: "Sora", sans-serif;
    outline: 0;
    background: #ffffff;
    width: 470px;
    border: none;
    border-radius: 25px;
    margin: 0 0 15px;
    padding: 18px;
    box-sizing: border-box;
    font-size: 16px;
}

#btn-lupa {
    background: #fffdfd;
    margin: -70px 415px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 9px;
    display: inline;
}

#btn-mais {
    display: block;
    outline: 0;
    background: #e8e7eb86;
    color: black;
    width: 55px;
    border: 0;
    border-radius: 45px;
    padding: 8px;
    font-size: 17px;
    -webkit-transition: all 0.4 ease;
    transition: all 0.4 ease;
}

h3 {
    font-size: 14px;
    margin: -31px 58px;
}

#btn-lupa:hover,
#btn-mais:hover,
#btn-sair {
    cursor: pointer;
}

#btn-sair {
    position: absolute;
    margin: -70px 1200px -10px;
    border: none;
    outline: none;
    background: #292C33;
}

.fa-power-off {
    color: #ffffff;
}

.fa-power-off:hover{
    color: rgb(216, 101, 101);
    transition: 0.8s;
}
#btn-mais:hover{
    transition: 0.8s;
    color: rgb(11, 129, 158);
}
