@import url(https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap);

body {
    margin: 0px;
    background: #d6d5da86;
    font-family: "Sora", sans-serif;
    overflow-y: auto;
}

.page {
    width: 500px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #ffffff00;
    max-width: 400px;
    margin: 0 auto -70px;
    padding: 45px;
    align-items: center;
}

.hr {
    overflow-x: hidden;
    position: relative;
    width: auto;
    height: 90px;
    left: 0px;
    top: -8px;
    background: #292C33;
}

.h4 {
    position: relative;
    margin: 20px;
    width: 240px;
    height: 60px;
    top: -10px;
    left: 90px;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #000000;
    line-height: 20px;
}

.form input {
    display: inline-flex;
    font-family: "Sora", sans-serif;
    outline: 0;
    background: #ffffff;
    width: 470px;
    border: none;
    border-radius: 15px;
    margin: 0 0 15px;
    padding: 18px;
    box-sizing: border-box;
    font-size: 16px;
}

#btn-lupa {
    margin: -70px 410px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 35px;
    display: inline;
}

#btn-mais {
    display: block;
    outline: 0;
    background: #ffffff;
    color: black;
    width: 45px;
    border: 0;
    border-radius: 45px;
    padding: 8px;
    font-size: 17px;
    -webkit-transition: all 0.4 ease;
    transition: all 0.4 ease;

}

h3 {
    font-size: 12px;
    margin: -25px 51px;
}

#btn-lupa:hover,
#btn-mais:hover {
    background: #b3b1b1;
    cursor: pointer;
}
